# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
.venv/
.env/

# Node/TS
node_modules/
dist/
.vite/
frontend/tsconfig.tsbuildinfo

# OS/editor
.DS_Store
.idea/
.vscode/

# Notebooks
.ipynb_checkpoints/

# Logs
*.log

# Coverage
coverage.xml
.coverage
